In [1]:
import pandas as pd
import numpy as np
import os

In [25]:
base_path="/net/mraid08/export/jafar/UKBioBank/Data/ukb29741_a1c_below_65"   
files_suffixes=["_train.csv","_val.csv","_train_val.csv","_test.csv","_updates_scoreboard_train.csv",
                "_updates_scoreboard_val.csv", "_updates_scoreboard_train_val.csv",
                "_updates_scoreboard_test.csv"]

In [3]:
diab_age_data_path="/net/mraid08/export/jafar/UKBioBank/Data/ukb29741.csv"
diab_data_col=pd.read_csv(diab_age_data_path, nrows=0).columns.values

In [4]:
diab_age_col = [x for x in diab_data_col if x.startswith("2976-")]  # Aged when diabetes first diagnosed

In [5]:
Diab_age_df = pd.read_csv(diab_age_data_path, usecols=diab_age_col + ["eid"], index_col="eid")
Diab_age_df["Min_diab_age"] = Diab_age_df.min(axis=1)

In [10]:
Diab_age_df.head()

         2976-0.0  2976-1.0  2976-2.0  Min_diab_age
eid
4704502       NaN       NaN       NaN           NaN
4020781       NaN       NaN       NaN           NaN
5473158       NaN       NaN       NaN           NaN
3379784       NaN       NaN       NaN           NaN
2014430       NaN       NaN       NaN           NaN

In [32]:
def calc_TTE(row):
    """
    Returns either the time between the first visit to the first appearance of diabetes, or
    if diabetes was not diagnosed, or the time of diagnosis is not given - return the time of last visit"""
    if pd.isnull(row["TTE"]):
        return row["21003-4.0"]
    else:
        return row["TTE"]

In [27]:
data_dict_save={}
data_dict_drop={}
orig_data={}
for path_suffix in files_suffixes:
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
    print(path_suffix)
    short_data_path=base_path+path_suffix
    dropped_data_path=base_path+"_early_T2D_detection_"+path_suffix
    short_data=pd.read_csv(short_data_path,index_col="eid")
    orig_data[path_suffix]=short_data
    print("short_data.shape:",short_data.shape)
    age_diab_cols=[x for x in short_data.columns if x.startswith("2976")]
    if len(age_diab_cols)==0:
        tmp=short_data.join(Diab_age_df,how="left")
        tmp["TTE"]= tmp["Min_diab_age"] - tmp["21003-0.0"]
        tmp_drop_index=tmp.loc[tmp["TTE"]<=0,:].index
        tmp_save_index=[x for x in tmp.index if x not in tmp_drop_index]
        tmp_drop=tmp.loc[tmp_drop_index,:]
        tmp_drop.to_csv(dropped_data_path,index="True")
        tmp_save=tmp.loc[tmp_save_index,:]
        tmp_save.to_csv(short_data_path,index="True")
        
        data_dict_save[path_suffix]=tmp_save
        data_dict_drop[path_suffix]=tmp_drop
        
        print("tmp_drop.shape:",tmp_drop.shape)
        print("tmp_save.shape:",tmp_save.shape)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_train.csv
short_data.shape: (25122, 1236)
tmp_drop.shape: (97, 1241)
tmp_save.shape: (25025, 1241)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_val.csv
short_data.shape: (10757, 1236)
tmp_drop.shape: (33, 1241)
tmp_save.shape: (10724, 1241)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_train_val.csv
short_data.shape: (35879, 1236)
tmp_drop.shape: (130, 1241)
tmp_save.shape: (35749, 1241)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_test.csv
short_data.shape: (8994, 1236)
tmp_drop.shape: (34, 1241)
tmp_save.shape: (8960, 1241)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_updates_scoreboard_train.csv
short_data.shape: (25122, 1320)
tmp_drop.shape: (97, 1325)
tmp_save.shape: (25025, 1325)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_updates_scoreboard_val.csv
short_data.shape: (10757, 1320)
tmp_drop.shape: (33, 1325)
tmp_save.shape: (10724, 1325)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_updates_scoreboard_train_val.csv
short_data.shape: (35879, 1320)
tmp_drop.shape: (130, 1325)
tmp_save.shape: (35749, 1325)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_updates_scoreboard_test.csv
short_data.shape: (8994, 1320)
tmp_drop.shape: (34, 1325)
tmp_save.shape: (8960, 1325)

In [34]:
data_dict_save.keys()

dict_keys([])

In [38]:
data_dict_save={}
data_dict_drop={}
orig_data={}
for path_suffix in files_suffixes:
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
    print(path_suffix)
    short_data_path=base_path+path_suffix
    tmp=pd.read_csv(short_data_path,index_col="eid")
    tmp["TTE"]=tmp.apply(calc_TTE,axis=1)
    print(tmp.head())
    print(tmp["TTE"].head())
    print(tmp.shape)
    tmp.to_csv(short_data_path,index="True")

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_train.csv
         21003-3.0  21003-4.0  46-0.0  47-0.0  48-0.0  49-0.0  50-0.0  \
eid
5042569       63.0        9.0    16.0    16.0   116.0   118.0   168.0
1377679       50.0        7.0    40.0    44.0    81.0    96.0   166.0
5892004       64.0        3.0    19.0    19.0    90.0   110.0   165.0
5591625       57.0        7.0    18.0    25.0    71.0    91.0   165.0
4608302       69.0        5.0    18.0    16.0    78.0   109.0   160.0

           78-0.0  102-0.0  189-0.0  ...  HDL cholesterol_woe  \
eid                                  ...
5042569 -0.242680     72.0 -2.96255  ...             0.223226
1377679 -0.046000     47.0 -6.07871  ...            -0.511755
5892004 -0.242858     68.0 -3.76781  ...            -1.888472
5591625 -0.242801     65.0  3.45470  ...            -0.967802
4608302 -0.242407     67.0 -4.21509  ...             0.103421

         Gamma glutamyltransferase_woe   Sex_woe  Age at last visit_woe  \
eid
5042569                       0.685422 -0.411997                    0.0
1377679                       0.366123  0.315997                    0.0
5892004                      -1.470207 -0.411997                    0.0
5591625                      -2.434935 -0.411997                    0.0
4608302                      -0.647187 -0.411997                    0.0

         Triglycerides_woe  2976-0.0  2976-1.0  2976-2.0  Min_diab_age  TTE
eid
5042569           0.353954       NaN       NaN       NaN           NaN  9.0
1377679          -0.811078       NaN       NaN       NaN           NaN  7.0
5892004          -2.027718       NaN       NaN       NaN           NaN  3.0
5591625          -2.027718       NaN       NaN       NaN           NaN  7.0
4608302          -0.036580       NaN       NaN       NaN           NaN  5.0

[5 rows x 1241 columns]
eid
5042569    9.0
1377679    7.0
5892004    3.0
5591625    7.0
4608302    5.0
Name: TTE, dtype: float64
(25025, 1241)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_val.csv
         21003-3.0  21003-4.0  46-0.0  47-0.0  48-0.0  49-0.0  50-0.0  \
eid
3292964       51.0        7.0    25.0    33.0    93.0   101.0   173.0
2169242       68.0        7.0    48.0    52.0    97.0   103.0   180.0
1472378       69.0        5.0    24.0    26.0    85.0    98.0   157.0
5707725       58.0        8.0    34.0    40.0    90.0   114.0   163.0
3916165       63.0        6.0    34.0    34.0    97.0    96.0   167.0

           78-0.0  102-0.0   189-0.0  ...  HDL cholesterol_woe  \
eid                                   ...
3292964 -0.241798     50.0  3.300210  ...             0.223226
2169242 -0.241901     84.0  0.086173  ...             0.223226
1472378 -0.242820     64.0  1.615890  ...            -0.511755
5707725 -0.242600     68.0 -1.847290  ...            -0.511755
3916165 -0.242779     77.0 -3.758250  ...             0.103421

         Gamma glutamyltransferase_woe   Sex_woe  Age at last visit_woe  \
eid
3292964                      -0.997260  0.315997                    0.0
2169242                      -0.647187  0.315997                    0.0
1472378                      -0.081900 -0.411997                    0.0
5707725                      -0.081900 -0.411997                    0.0
3916165                       0.949619  0.315997                    0.0

         Triglycerides_woe  2976-0.0  2976-1.0  2976-2.0  Min_diab_age  TTE
eid
3292964          -0.036580       NaN       NaN       NaN           NaN  7.0
2169242          -0.595327       NaN       NaN       NaN           NaN  7.0
1472378          -0.811078       NaN       NaN       NaN           NaN  5.0
5707725          -0.036580       NaN       NaN       NaN           NaN  8.0
3916165           0.955289       NaN       NaN      59.0          59.0  2.0

[5 rows x 1241 columns]
eid
3292964    7.0
2169242    7.0
1472378    5.0
5707725    8.0
3916165    2.0
Name: TTE, dtype: float64
(10724, 1241)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_train_val.csv
         21003-3.0  21003-4.0  46-0.0  47-0.0  48-0.0  49-0.0  50-0.0  \
eid
1000178       53.0        8.0    56.0    54.0    81.0    94.0   181.0
1000668       63.0        3.0    10.0    18.0    96.0   101.0   158.0
1000751       54.0        9.0    20.0    30.0    80.0   100.0   175.0
1000991       67.0       11.0    20.0    21.0    82.0   107.0   167.0
1001666       79.0       10.0    34.0    40.0   100.0   106.0   187.0

           78-0.0    102-0.0  189-0.0  ...  HDL cholesterol_woe  \
eid                                    ...
1000178 -0.139000  73.000000  5.74805  ...             1.023008
1000668 -0.242563  68.000000 -3.34147  ...            -1.888472
1000751 -0.242843  67.000000 -5.11746  ...             0.223226
1000991  0.666000  60.366331 -4.49135  ...            -0.327848
1001666  0.084000  60.000000 -1.65227  ...            -0.967802

         Gamma glutamyltransferase_woe   Sex_woe  Age at last visit_woe  \
eid
1000178                      -1.470207  0.315997                    0.0
1000668                      -0.647187 -0.411997                    0.0
1000751                      -2.434935 -0.411997                    0.0
1000991                      -2.434935 -0.411997                    0.0
1001666                      -0.997260  0.315997                    0.0

         Triglycerides_woe  2976-0.0  2976-1.0  2976-2.0  Min_diab_age   TTE
eid
1000178           0.353954       NaN       NaN      50.0          50.0   5.0
1000668          -0.595327       NaN       NaN       NaN           NaN   3.0
1000751          -0.811078       NaN       NaN       NaN           NaN   9.0
1000991          -2.027718       NaN       NaN       NaN           NaN  11.0
1001666          -2.027718       NaN       NaN       NaN           NaN  10.0

[5 rows x 1241 columns]
eid
1000178     5.0
1000668     3.0
1000751     9.0
1000991    11.0
1001666    10.0
Name: TTE, dtype: float64
(35749, 1241)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_test.csv
         21003-3.0  21003-4.0  46-0.0  47-0.0  48-0.0  49-0.0  50-0.0  \
eid
1717325       70.0        6.0    24.0    26.0    98.0   102.0   171.0
5606913       62.0       10.0    30.0    38.0    98.0   104.0   176.0
3718362       64.0        8.0    16.0    23.0    66.2    93.8   169.0
4850869       50.0        9.0    59.0    62.0   112.0   117.0   186.0
4718570       60.0        7.0    14.0    18.0    83.0   104.0   165.0

           78-0.0  102-0.0   189-0.0  ...  HDL cholesterol_woe  \
eid                                   ...
1717325 -0.242540     66.0  2.352290  ...             1.023008
5606913 -0.177000     66.0  0.715659  ...             0.223226
3718362 -1.205000    114.0 -3.198100  ...            -0.511755
4850869  0.908000     67.0 -6.054590  ...             0.223226
4718570 -0.242903     84.0 -2.385130  ...            -0.967802

         Gamma glutamyltransferase_woe   Sex_woe  Age at last visit_woe  \
eid
1717325                       0.949619  0.315997                    0.0
5606913                       0.685422  0.315997                    0.0
3718362                      -1.470207 -0.411997                    0.0
4850869                       0.949619  0.315997                    0.0
4718570                      -2.434935 -0.411997                    0.0

         Triglycerides_woe  2976-0.0  2976-1.0  2976-2.0  Min_diab_age   TTE
eid
1717325          -0.595327       NaN       NaN       NaN           NaN   6.0
5606913           0.353954       NaN       NaN       NaN           NaN  10.0
3718362          -2.027718       NaN       NaN       NaN           NaN   8.0
4850869           0.955289       NaN       NaN       NaN           NaN   9.0
4718570          -0.595327       NaN       NaN       NaN           NaN   7.0

[5 rows x 1241 columns]
eid
1717325     6.0
5606913    10.0
3718362     8.0
4850869     9.0
4718570     7.0
Name: TTE, dtype: float64
(8960, 1241)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_updates_scoreboard_train.csv
         21003-3.0  21003-4.0  46-0.0  47-0.0  48-0.0  49-0.0  50-0.0  \
eid
5042569       63.0        9.0    16.0    16.0   116.0   118.0   168.0
1377679       50.0        7.0    40.0    44.0    81.0    96.0   166.0
5892004       64.0        3.0    19.0    19.0    90.0   110.0   165.0
5591625       57.0        7.0    18.0    25.0    71.0    91.0   165.0
4608302       69.0        5.0    18.0    16.0    78.0   109.0   160.0

           78-0.0  102-0.0  189-0.0  ...  Triglycerides > 0.89 and <= 1.2  \
eid                                  ...
5042569 -0.242680     72.0 -2.96255  ...                                0
1377679 -0.046000     47.0 -6.07871  ...                                1
5892004 -0.242858     68.0 -3.76781  ...                                0
5591625 -0.242801     65.0  3.45470  ...                                0
4608302 -0.242407     67.0 -4.21509  ...                                0

         Triglycerides > 1.2 and <= 1.4  Triglycerides > 1.4 and <= 1.8  \
eid
5042569                               0                               0
1377679                               0                               0
5892004                               0                               0
5591625                               0                               0
4608302                               0                               1

         Triglycerides > 1.8 and <= 2.4  Triglycerides > 2.4  2976-0.0  \
eid
5042569                               1                    0       NaN
1377679                               0                    0       NaN
5892004                               0                    0       NaN
5591625                               0                    0       NaN
4608302                               0                    0       NaN

         2976-1.0  2976-2.0  Min_diab_age  TTE
eid
5042569       NaN       NaN           NaN  9.0
1377679       NaN       NaN           NaN  7.0
5892004       NaN       NaN           NaN  3.0
5591625       NaN       NaN           NaN  7.0
4608302       NaN       NaN           NaN  5.0

[5 rows x 1325 columns]
eid
5042569    9.0
1377679    7.0
5892004    3.0
5591625    7.0
4608302    5.0
Name: TTE, dtype: float64
(25025, 1325)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_updates_scoreboard_val.csv
         21003-3.0  21003-4.0  46-0.0  47-0.0  48-0.0  49-0.0  50-0.0  \
eid
3292964       51.0        7.0    25.0    33.0    93.0   101.0   173.0
2169242       68.0        7.0    48.0    52.0    97.0   103.0   180.0
1472378       69.0        5.0    24.0    26.0    85.0    98.0   157.0
5707725       58.0        8.0    34.0    40.0    90.0   114.0   163.0
3916165       63.0        6.0    34.0    34.0    97.0    96.0   167.0

           78-0.0  102-0.0   189-0.0  ...  Triglycerides > 0.89 and <= 1.2  \
eid                                   ...
3292964 -0.241798     50.0  3.300210  ...                                0
2169242 -0.241901     84.0  0.086173  ...                                0
1472378 -0.242820     64.0  1.615890  ...                                1
5707725 -0.242600     68.0 -1.847290  ...                                0
3916165 -0.242779     77.0 -3.758250  ...                                0

         Triglycerides > 1.2 and <= 1.4  Triglycerides > 1.4 and <= 1.8  \
eid
3292964                               0                               1
2169242                               1                               0
1472378                               0                               0
5707725                               0                               1
3916165                               0                               0

         Triglycerides > 1.8 and <= 2.4  Triglycerides > 2.4  2976-0.0  \
eid
3292964                               0                    0       NaN
2169242                               0                    0       NaN
1472378                               0                    0       NaN
5707725                               0                    0       NaN
3916165                               0                    1       NaN

         2976-1.0  2976-2.0  Min_diab_age  TTE
eid
3292964       NaN       NaN           NaN  7.0
2169242       NaN       NaN           NaN  7.0
1472378       NaN       NaN           NaN  5.0
5707725       NaN       NaN           NaN  8.0
3916165       NaN      59.0          59.0  2.0

[5 rows x 1325 columns]
eid
3292964    7.0
2169242    7.0
1472378    5.0
5707725    8.0
3916165    2.0
Name: TTE, dtype: float64
(10724, 1325)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_updates_scoreboard_train_val.csv
         21003-3.0  21003-4.0  46-0.0  47-0.0  48-0.0  49-0.0  50-0.0  \
eid
1000178       53.0        8.0    56.0    54.0    81.0    94.0   181.0
1000668       63.0        3.0    10.0    18.0    96.0   101.0   158.0
1000751       54.0        9.0    20.0    30.0    80.0   100.0   175.0
1000991       67.0       11.0    20.0    21.0    82.0   107.0   167.0
1001666       79.0       10.0    34.0    40.0   100.0   106.0   187.0

           78-0.0    102-0.0  189-0.0  ...  Triglycerides > 0.89 and <= 1.2  \
eid                                    ...
1000178 -0.139000  73.000000  5.74805  ...                                0
1000668 -0.242563  68.000000 -3.34147  ...                                0
1000751 -0.242843  67.000000 -5.11746  ...                                1
1000991  0.666000  60.366331 -4.49135  ...                                0
1001666  0.084000  60.000000 -1.65227  ...                                0

         Triglycerides > 1.2 and <= 1.4  Triglycerides > 1.4 and <= 1.8  \
eid
1000178                               0                               0
1000668                               1                               0
1000751                               0                               0
1000991                               0                               0
1001666                               0                               0

         Triglycerides > 1.8 and <= 2.4  Triglycerides > 2.4  2976-0.0  \
eid
1000178                               1                    0       NaN
1000668                               0                    0       NaN
1000751                               0                    0       NaN
1000991                               0                    0       NaN
1001666                               0                    0       NaN

         2976-1.0  2976-2.0  Min_diab_age   TTE
eid
1000178       NaN      50.0          50.0   5.0
1000668       NaN       NaN           NaN   3.0
1000751       NaN       NaN           NaN   9.0
1000991       NaN       NaN           NaN  11.0
1001666       NaN       NaN           NaN  10.0

[5 rows x 1325 columns]
eid
1000178     5.0
1000668     3.0
1000751     9.0
1000991    11.0
1001666    10.0
Name: TTE, dtype: float64
(35749, 1325)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
_updates_scoreboard_test.csv
         21003-3.0  21003-4.0  46-0.0  47-0.0  48-0.0  49-0.0  50-0.0  \
eid
1717325       70.0        6.0    24.0    26.0    98.0   102.0   171.0
5606913       62.0       10.0    30.0    38.0    98.0   104.0   176.0
3718362       64.0        8.0    16.0    23.0    66.2    93.8   169.0
4850869       50.0        9.0    59.0    62.0   112.0   117.0   186.0
4718570       60.0        7.0    14.0    18.0    83.0   104.0   165.0

           78-0.0  102-0.0   189-0.0  ...  Triglycerides > 0.89 and <= 1.2  \
eid                                   ...
1717325 -0.242540     66.0  2.352290  ...                                0
5606913 -0.177000     66.0  0.715659  ...                                0
3718362 -1.205000    114.0 -3.198100  ...                                0
4850869  0.908000     67.0 -6.054590  ...                                0
4718570 -0.242903     84.0 -2.385130  ...                                0

         Triglycerides > 1.2 and <= 1.4  Triglycerides > 1.4 and <= 1.8  \
eid
1717325                               1                               0
5606913                               0                               0
3718362                               0                               0
4850869                               0                               0
4718570                               1                               0

         Triglycerides > 1.8 and <= 2.4  Triglycerides > 2.4  2976-0.0  \
eid
1717325                               0                    0       NaN
5606913                               1                    0       NaN
3718362                               0                    0       NaN
4850869                               0                    1       NaN
4718570                               0                    0       NaN

         2976-1.0  2976-2.0  Min_diab_age   TTE
eid
1717325       NaN       NaN           NaN   6.0
5606913       NaN       NaN           NaN  10.0
3718362       NaN       NaN           NaN   8.0
4850869       NaN       NaN           NaN   9.0
4718570       NaN       NaN           NaN   7.0

[5 rows x 1325 columns]
eid
1717325     6.0
5606913    10.0
3718362     8.0
4850869     9.0
4718570     7.0
Name: TTE, dtype: float64
(8960, 1325)

In [29]:
tmp_val=pd.read_csv(
    "/net/mraid08/export/jafar/UKBioBank/Data/ukb29741_a1c_below_65_updates_scoreboard_val.csv")

In [31]:
tmp_val.loc[:,"21003-4.0"]

0         7.0
1         7.0
2         5.0
3         8.0
4         6.0
         ...
10719     5.0
10720    10.0
10721     4.0
10722     8.0
10723     8.0
Name: 21003-4.0, Length: 10724, dtype: float64

In [ ]:
data_col = pd.read_csv(diab_age_data_path, nrows=0).columns.values
diab_age_col = [x for x in diab_data_col if x.startswith("2976-")]