In [93]:
%reload_ext autoreload
%autoreload 2
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt

from LabData.DataLoaders.SubjectLoader import SubjectLoader
from LabData.DataLoaders.BloodTestsLoader import BloodTestsLoader
from LabData.DataLoaders.BodyMeasuresLoader import BodyMeasuresLoader
from datetime import date, timedelta

%matplotlib inline

In [4]:
sl=SubjectLoader(gen_cache=False).get_data(study_ids=[10])

In [83]:
btl= BloodTestsLoader(gen_cache=False).get_data(study_ids=[10])
bt_cols=["bt__hba1c"]
rel_bt=btl.df.loc[:,bt_cols]
rel_bt=rel_bt.reset_index("Date").dropna()
rel_bt["Date"]=pd.to_datetime(rel_bt["Date"])
recent_hba1c=rel_bt.groupby("RegistrationCode").last()
recent_hba1c.rename(columns={"Date":"HbA1c date"},inplace=True)
recent_hba1c

                 HbA1c date  bt__hba1c
RegistrationCode
10K_1002087123   2019-07-31      5.300
10K_1003113258   2018-07-17      5.300
10K_1007599726   2018-10-02      5.200
10K_1007699078   2019-12-15      5.600
10K_1009247427   2020-02-04      5.000
...                     ...        ...
10K_9995623290   2020-01-21      5.100
10K_9995746691   2020-04-19      5.400
10K_9998418497   2019-09-26      5.400
10K_9999226141   2019-12-16      5.350
10K_9999409119   2020-02-25      5.135

[4210 rows x 2 columns]

In [84]:
type(recent_hba1c.iloc[0,0])

pandas._libs.tslibs.timestamps.Timestamp

In [72]:
BML=BodyMeasuresLoader()
bml=BML.get_data(study_ids=['10K'])
bml.df.columns

Index(['hips', 'bmr', 'dominant_hand',
       'standing_one_min_blood_pressure_pulse_rate',
       'lying_blood_pressure_diastolic',
       'standing_three_min_blood_pressure_systolic',
       'lying_blood_pressure_systolic', 'abdominal', 'fingers_grip_left',
       'is_getting_period', 'sitting_blood_pressure_systolic',
       'standing_three_min_blood_pressure_pulse_rate', 'body_temperature',
       'trunk_fat', 'standing_three_min_blood_pressure_diastolic', 'body_fat',
       'frequency_of_period', 'height', 'bmi',
       'lying_blood_pressure_pulse_rate', 'number_of_days_from_last_period',
       'weight', 'fingers_grip_right', 'waist',
       'sitting_blood_pressure_pulse_rate', 'number_of_days_in_cycle',
       'sitting_blood_pressure_diastolic', 'hand_grip_left', 'dizziness',
       'on_hormone_therapy', 'hand_grip_right',
       'standing_one_min_blood_pressure_diastolic',
       'standing_one_min_blood_pressure_systolic', 'meetingtypeid'],
      dtype='object')

In [78]:
bmi_df=bml.df.bmi.reset_index("Date")
bmi_df.rename(columns={"Date":"visit date"},inplace=True)

In [85]:
type(bmi_df.iloc[0,0])

pandas._libs.tslibs.timestamps.Timestamp

In [86]:
mutual_df=pd.merge(recent_hba1c,bmi_df,how="inner",right_index=True,left_index=True)

In [87]:
mutual_df

                 HbA1c date  bt__hba1c                 visit date        bmi
RegistrationCode
10K_1002087123   2019-07-31      5.300 2019-12-04 12:37:03.881590  36.660603
10K_1003113258   2018-07-17      5.300 2020-02-09 13:03:05.025196  23.860134
10K_1007599726   2018-10-02      5.200 2019-07-09 08:42:03.872049  23.051754
10K_1007699078   2019-12-15      5.600 2020-02-11 08:35:22.523511  25.233089
10K_1009247427   2020-02-04      5.000 2020-02-12 08:36:17.105247  28.640453
...                     ...        ...                        ...        ...
10K_9995623290   2020-01-21      5.100 2020-01-30 12:29:14.848001  24.703854
10K_9995746691   2020-04-19      5.400 2021-04-07 08:31:36.167609  23.955696
10K_9998418497   2019-09-26      5.400 2019-11-07 13:07:37.610043  23.301062
10K_9999226141   2019-12-16      5.350 2020-01-21 09:58:33.303290  24.624701
10K_9999409119   2020-02-25      5.135 2020-06-09 07:03:10.541386  37.638382

[3410 rows x 4 columns]

In [96]:
mutual_df["dt"]=mutual_df["visit date"]-mutual_df["HbA1c date"]
mutual_df

,HbA1c date,bt__hba1c,visit date,bmi,dt
RegistrationCode,,,,,
10K_1002087123,2019-07-31,5.300,2019-12-04 12:37:03.881590,36.660603,126 days 12:37:03.881590
10K_1003113258,2018-07-17,5.300,2020-02-09 13:03:05.025196,23.860134,572 days 13:03:05.025196
10K_1007599726,2018-10-02,5.200,2019-07-09 08:42:03.872049,23.051754,280 days 08:42:03.872049
10K_1007699078,2019-12-15,5.600,2020-02-11 08:35:22.523511,25.233089,58 days 08:35:22.523511
10K_1009247427,2020-02-04,5.000,2020-02-12 08:36:17.105247,28.640453,8 days 08:36:17.105247
...,...,...,...,...,...
10K_9995623290,2020-01-21,5.100,2020-01-30 12:29:14.848001,24.703854,9 days 12:29:14.848001
10K_9995746691,2020-04-19,5.400,2021-04-07 08:31:36.167609,23.955696,353 days 08:31:36.167609
10K_9998418497,2019-09-26,5.400,2019-11-07 13:07:37.610043,23.301062,42 days 13:07:37.610043
10K_9999226141,2019-12-16,5.350,2020-01-21 09:58:33.303290,24.624701,36 days 09:58:33.303290
10K_9999409119,2020-02-25,5.135,2020-06-09 07:03:10.541386,37.638382,105 days 07:03:10.541386

In [97]:
mutual_df[mutual_df["dt"]<timedelta(188)]

,HbA1c date,bt__hba1c,visit date,bmi,dt
RegistrationCode,,,,,
10K_1002087123,2019-07-31,5.300,2019-12-04 12:37:03.881590,36.660603,126 days 12:37:03.881590
10K_1007699078,2019-12-15,5.600,2020-02-11 08:35:22.523511,25.233089,58 days 08:35:22.523511
10K_1009247427,2020-02-04,5.000,2020-02-12 08:36:17.105247,28.640453,8 days 08:36:17.105247
10K_1012020971,2019-06-18,5.000,2019-06-25 08:45:08.699706,27.098766,7 days 08:45:08.699706
10K_1015653163,2020-01-12,5.000,2020-01-27 08:22:28.380442,21.864115,15 days 08:22:28.380442
...,...,...,...,...,...
10K_9994795317,2020-03-09,6.500,2020-05-31 10:27:30.042296,26.277285,83 days 10:27:30.042296
10K_9995623290,2020-01-21,5.100,2020-01-30 12:29:14.848001,24.703854,9 days 12:29:14.848001
10K_9998418497,2019-09-26,5.400,2019-11-07 13:07:37.610043,23.301062,42 days 13:07:37.610043
10K_9999226141,2019-12-16,5.350,2020-01-21 09:58:33.303290,24.624701,36 days 09:58:33.303290
10K_9999409119,2020-02-25,5.135,2020-06-09 07:03:10.541386,37.638382,105 days 07:03:10.541386